doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShYjVwse5P-AtGJDpAqDvKNcnLDls3N_Vtqgz7voOtQ-JF1V0BKVf0STRLaX2tYi7Sfps&usqp=CAU')
    block content
